<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 mt-3">

      <h1 class="h1-tag">Edit Your Profile</h1>
      <div class="edit-form-style">
      <%= simple_form_for current_user do |f| %>
      <% if current_user.chef %>
        <%= f.input :cuisine %>
        <%= f.input :biography, as: :text, input_html: {rows: 10, cols: 10} %>
        <div class="photo-upload">
          <%= f.input :photo, as: :file %>
          <%= f.input :chef_photo, as: :file %>
        </div>
      <% else %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :postcode %>
        <%= f.input :biography, as: :text, input_html: {rows: 10, cols: 10} %>
        <div class="photo-upload">
          <%= f.input :photo, as: :file %>
        </div>
      <% end %>
        <%= f.submit class: 'btn btn-dark' %>
      </div>
        <%= link_to "Back", profile_path(current_user), class: 'btn btn-secondary mt-3'  %>

      <% end %>
    </div>
  </div>
</div>
