<div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1576237680582-75be01432ca6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80')">
    <div class="container">
      <h1 class="sb-title"> Look for your favourite <em id='cuisines'>cuisine</em> below! 👨‍🍳 </h1>
          <div class ='search_bar'>
            <%= form_tag root_path, method: :get do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Find a cuisine"%>
                  <%= button_tag type: 'submit', class: "button postfix" do %>
                  <i class="fa fa-search" aria-hidden="true"></i>
                  <% end %>
              <% end %>
          </div>
          <div class="banner-text" >
            <h2 class="fp-big-text"> Hire a chef for your special occasion</h2>
            <h3>Browse our gourmet offerings below: <strong>Prepared, Cooked & Served</strong> for you<h3>
          </div>
    </div>
  </div>

  <div class="banner-text" >
    <% @chefs.each do |chef| %>
    <% chef.cuisine %>
  <% end %>

  <div class="card-display-background">
    <div class='card-grid mb-32'>
      <% @chefs.each do |chef| %>
        <div class="card-trips">
          <!--<%= image_tag("indian.jpg") %>-->
          <% if chef.chef_photo.attached? %>
          <%= cl_image_tag chef.chef_photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
            <div class="card-trip-infos">
              <div>
                <h2><%= chef.cuisine %></h2>
                <h3><%= chef.first_name %> <%= chef.last_name %></h3>
                <%= link_to "Book Me", user_path(chef), class: 'btn btn-dark' %>
              </div>
              <!--<img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />-->
              <% if chef.photo.attached? %>
              <%= cl_image_tag chef.photo.key, class: "card-trip-user avatar-bordered" %>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

