<div>
  <div class='banner'>
    <div class = 'title'>
      <h1> Look for your local <strong>Chef</strong> below! 👨‍🍳 </h1>
    </div>
  </div>

  <div class='card-grid'>
  <% @chefs.each do |chef| %>
    <div class="card-trips">
      <%= image_tag("indian.jpg") %>
      <div class="card-trip-infos">
        <div>
          <h2><%= chef.first_name %></h2>
          <h3><%= chef.postcode %> <%= '🏡' %></h3>
        </div>
          <%= link_to "Book Me", user_path(chef), class: 'btn btn-primary' %>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
   <% end %>
 </div>

</div>
