<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6">
        <div class="card-product">
          <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= current_user.first_name %> <%= current_user.last_name %> </h2>
            <p>Email: <%= current_user.email %></p>

            <% if current_user.chef %>
              <h2>Cuisine: <%= current_user.cuisine %></h2>
            <%= link_to 'Add/Update Cuisine', edit_user_path(current_user), class: 'btn btn-primary', id: 'addbutton'%>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>


<% if current_user.chef %>
  <div>
    <h1 class = "row justify-content-center mt-3 booking-header"> <%= @chef.first_name %>'s bookings</h1>
    <div class="m-5 display-booking-container">
      <% @bookings.each do |booking| %>
        <div class="books p-5 m-2 display-booking">
            <div class="books-infos">
              <h2><u>Description:</u> <%= booking.description %></h2>
              <h2><u>Date:</u> <%= booking.date.strftime("%d/%m/%Y") %></h2>
              <h2><u>Location:</u> <%= booking.postcode %></h2>
            </div>
            <%= link_to 'delete', user_booking_path(current_user, booking), method: :delete, class: 'btn btn-primary delete-booking-button' %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div>
    <h1 class="row justify-content-center mt-3 booking-header"> <%= current_user.first_name %>'s bookings</h1>
    <div class="m-5 display-booking-container">
      <% @bookings_user.each do |booking| %>
        <div class="books p-5 m-2 display-booking" >
            <div class="books-infos">
              <h2><u>Description:</u> <%= booking.description %></h2>
              <h2><u>Date:</u> <%= booking.date.strftime("%d/%m/%Y") %></h2>
              <h2><u>Location:</u> <%= booking.postcode %></h2>
            </div>
            <%= link_to 'delete', user_booking_path(current_user, booking), method: :delete, class: 'btn btn-primary delete-booking-button' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

