<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6">
        <div class="card-product">
          <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <% if current_user.chef_photo.attached? %>
          <%= cl_image_tag current_user.chef_photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= current_user.first_name %> <%= current_user.last_name %> </h2>
            <p>Email: <%= current_user.email %></p>
            <p>Cuisine: <%= current_user.cuisine %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
