<div class='container'>
  <div><h1 class="showpage-h1"> Hi I'm <%= @chef.first_name %> <%= @chef.last_name %>, Welcome to my cuisine...</h1>
  </div>
    <div class="card-trip">
      <% if @chef.photo.attached? %>
        <%= cl_image_tag @chef.photo.key, crop: :fill %>
      <% end %>
      <div class="card-trip-infos">
        <div class='description'>
          <h2><%= @chef.first_name %> <%= @chef.last_name %></h2>
          <h3><%= @chef.email %><%= '📧' %></h3>
          <div class="biography" mt-3><p><%= @chef.biography %></p></div>
        </div>
      </div>

      <% if current_user.chef == false %>

        <div class="form-profile">
          <div class="additional-form-div">
            <div class="form-p-tag mt-3"> <p>If you would like to book my services, please provide some details</p></div>

            <%= simple_form_for [@chef, @booking], html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
              <%= f.input :postcode %>
              <%= f.input :description %>
              <%= f.input :date, as: :string, input_html: {type: :date}%>
              <%= f.submit "Book Me!", class: "btn btn-dark mb-3" %>
            <% end %>
          </div>
        </div>
        <div class='home'>
            <%= link_to 'Go back to homepage', root_path, class: 'btn btn-dark mb-3'%>
        </div>
      <% end %>
    </div>


</div>

<%# <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label"><strong>Postcode</strong></label>
      <div class="col-10">
        <input class="form-control" type="text" value="XXX XXX" id="example-text-input">
      </div>
    </div>

    <div class="form-group row">
      <label for="example-search-input" class="col-2 col-form-label"><strong>Description</strong></label>
      <div class="col-10">
        <input class="form-control" type="search" value="Party" id="example-search-input">
      </div>
    </div>

    <div class="form-group row">
      <label for="example-date-input" class="col-2 col-form-label"><strong>Date</strong></label>
      <div class="col-10">
        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
      </div>
    </div> %>
