<!DOCTYPE html>
<html>
  <head>
    <title>Cookery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div id="main-container">
      <div class="main" id="main-main">
        <%= render 'shared/navbar' %>
        <%= yield %>
        <%= render 'shared/flashes' %>
      </div>
    </div>
    <footer id="main-footer">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
